<!-- ===== NAVIGATION COMPLÈTE (LIENS COMPACTS TOUJOURS VISIBLES) ===== -->
<div class="other-sections">
  <h4 class="other-sections-title">Explorez tout l'écosystème UniversColis</h4>
  
  <div class="compact-links-grid">
    
    <a href="/" class="compact-link">
      <i class="fa-solid fa-calculator"></i>
      <span>Comparateur</span>
    </a>
    
    <a href="/suivi" class="compact-link">
      <i class="fa-solid fa-map-marker-alt"></i>
      <span>Suivi Colis</span>
    </a>
    
    <a href="/conseils" class="compact-link">
      <i class="fa-solid fa-book-open"></i>
      <span>Guides</span>
    </a>
    
    <a href="/mon-materiel" class="compact-link">
      <i class="fa-solid fa-box"></i>
      <span>Matériel</span>
    </a>
    
    <a href="/questions" class="compact-link">
      <i class="fa-solid fa-circle-question"></i>
      <span>FAQ</span>
    </a>
    
    <a href="/actualites" class="compact-link">
      <i class="fa-solid fa-newspaper"></i>
      <span>Actualités</span>
    </a>
    
    <a href="/comment-ca-marche" class="compact-link">
      <i class="fa-solid fa-circle-info"></i>
      <span>Comment ça marche</span>
    </a>
    
    <a href="/qui-sommes-nous" class="compact-link">
      <i class="fa-solid fa-users"></i>
      <span>Qui sommes-nous</span>
    </a>
    
  </div>
</div>