{{!-- =============================================
_actualites.hbs
Contexte : Parcourt les actualités livraison.
Suggérer : Comparateur · FAQ transporteurs · Guides
============================================= --}}


<a href="/#formulaire-comparateur" class="link-card featured">
  <div class="link-icon">
    <i class="fa-solid fa-calculator"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Votre prochain envoi ?</h4>
    <p class="link-description">Comparez les offres en temps réel et expédiez au meilleur prix.</p>
    <span class="link-action">Comparer les prix <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>

<a href="/questions" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Vos questions sur l'expédition</h4>
    <p class="link-description">Tarifs, transporteurs, délais, douane : toutes les réponses pratiques.</p>
    <span class="link-action">Voir les questions<i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>

<a href="/suivi" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-map-marker-alt"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Votre colis est parti ?</h4>
    <p class="link-description">Suivez-le en temps réel, tous transporteurs.</p>
    <span class="link-action">Suivre maintenant <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>