{{!-- ========================================= --}}
{{!-- PAGE ACTUALITÉS (Archive)                --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/#formulaire-comparateur" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-calculator"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Comparer les Tarifs 2025</h4>
      <p class="link-description">
        Tarifs actualisés : trouvez le meilleur prix maintenant.
      </p>
      <span class="link-action">
        Comparer <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/conseils" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-box-open"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Guides d'Emballage</h4>
      <p class="link-description">
        Appliquez les bonnes pratiques pour vos envois.
      </p>
      <span class="link-action">
        Voir les guides <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions/transporteurs" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-truck"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Questions Transporteurs</h4>
      <p class="link-description">
        Quel transporteur choisir en 2025 ?
      </p>
      <span class="link-action">
        En savoir plus <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>