{{!-- ========================================= --}}
{{!-- DEFAULT (Fallback)                        --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/#formulaire-comparateur" class="link-card featured">
    <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
    <div class="link-content">
      <h4 class="link-title">Comparateur</h4>
      <span class="link-action">Comparer <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/conseils" class="link-card">
    <div class="link-icon"><i class="fa-solid fa-box-open"></i></div>
    <div class="link-content">
      <h4 class="link-title">Guides</h4>
      <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions" class="link-card">
    <div class="link-icon"><i class="fa-solid fa-circle-question"></i></div>
    <div class="link-content">
      <h4 class="link-title">Questions</h4>
      <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>