{{!-- ========================================= --}}
{{!-- CATALOGUE GUIDES                          --}}
{{!-- Contexte : Cherche comment emballer, va  --}}
{{!-- commander matériel puis comparer          --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/mon-materiel" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-box-open"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Matériel Recommandé</h4>
      <p class="link-description">
        Boîtes, mousse, papier bulle : où acheter au meilleur prix.
      </p>
      <span class="link-action">
        Voir le catalogue <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/#formulaire-comparateur" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-calculator"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Comparer les Transporteurs</h4>
      <p class="link-description">
        Trouvez le meilleur prix parmi 15 transporteurs spécialisés.
      </p>
      <span class="link-action">
        Comparer <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-circle-question"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Questions Emballage</h4>
      <p class="link-description">
        Budget, matériaux, assurance : toutes vos questions.
      </p>
      <span class="link-action">
        Voir Q&A <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>