{{!-- ========================================= --}}
{{!-- PAGE HOME (Comparateur)                   --}}
{{!-- Contexte : Veut comparer, pas encore     --}}
{{!-- emballé son colis                         --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/conseils" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-box-open"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Guides d'Emballage</h4>
      <p class="link-description">
        Protégez votre objet avec les techniques professionnelles. 
        12 guides détaillés étape par étape.
      </p>
      <span class="link-action">
        Choisir mon guide <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/mon-materiel" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-toolbox"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Matériel d'Emballage</h4>
      <p class="link-description">
        Boîtes, mousse, papier bulle : 3 niveaux de qualité par produit.
      </p>
      <span class="link-action">
        Voir le catalogue <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions/tarifs-et-prix" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-euro-sign"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Comprendre les Tarifs</h4>
      <p class="link-description">
        Pourquoi les prix varient selon poids, destination et transporteur.
      </p>
      <span class="link-action">
        En savoir plus <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>