{{!-- =============================================
  PAGE ACCUEIL / COMPARATEUR
  Contexte : L'utilisateur compare des prix.
  Suggérer : Suivi · Matériel · Conseils
============================================= --}}

<div class="col-md-4">
  <a href="/suivi" class="link-card">
    <div class="link-icon icon-teal">
      <i class="fa-solid fa-map-marker-alt"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Suivre mon colis</h4>
      <p class="link-description">Votre colis en route ? Localisez-le en temps réel, tous transporteurs.</p>
      <span class="link-action">Suivre maintenant <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/mon-materiel" class="link-card">
    <div class="link-icon icon-coral">
      <i class="fa-solid fa-box"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Matériel d'emballage</h4>
      <p class="link-description">Cartons, papier bulle, scotch renforcé : tout pour emballer en sécurité.</p>
      <span class="link-action">Voir le matériel <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/conseils" class="link-card">
    <div class="link-icon icon-green">
      <i class="fa-solid fa-book-open"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Guides d'emballage</h4>
      <p class="link-description">Fragile, volumineux, international : nos guides pour emballer comme un pro.</p>
      <span class="link-action">Lire les guides <i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </a>
</div>
