{{!-- ========================================= --}}
{{!-- CATALOGUE MATÉRIEL                        --}}
{{!-- Contexte : Cherche matériel, va emballer --}}
{{!-- puis comparer                             --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/conseils/antiquites-fragiles" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-vase"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Emballer des Antiquités</h4>
      <p class="link-description">
        Mousse prédécoupée + papier bulle : protection musée.
      </p>
      <span class="link-action">
        Voir le guide <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/conseils/electronique" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-laptop"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Emballer de l'Électronique</h4>
      <p class="link-description">
        Sachets antistatiques + calage mousse : 0 choc.
      </p>
      <span class="link-action">
        Voir le guide <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/conseils/bouteille" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-wine-bottle"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Emballer une Bouteille</h4>
      <p class="link-description">
        Séparateurs + triple protection : technique caviste.
      </p>
      <span class="link-action">
        Voir le guide <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-6 mt-3">
  <a href="/conseils" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-books"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Tous les Guides</h4>
      <span class="link-action">
        Voir le catalogue <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-6 mt-3">
  <a href="/#formulaire-comparateur" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-truck-fast"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Comparer Transporteurs</h4>
      <span class="link-action">
        Comparer <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>