{{!-- =============================================
_questions-category.hbs
Contexte : Parcourt les questions d'une catégorie.
questionCategory disponible via la route Express.
Suggérer : Comparateur · Guides · Actualités
============================================= --}}

<a href="/#formulaire-comparateur" class="link-card featured">
  <div class="link-icon">
    <i class="fa-solid fa-calculator"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Prêt à envoyer ?</h4>
    <p class="link-description"> Comparez les offres et choisissez le meilleur tarif pour votre envoi.</p>
    <span class="link-action">Comparer les offres<i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>

<a href="/conseils" class="link-card">
  <div class="link-icon icon-green">
    <i class="fa-solid fa-book-open"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Guides d'emballage</h4>
    <p class="link-description">Bouteilles, bijoux, miroirs, électronique : la bonne technique d'emballage pour chaque objet.</p>
    <span class="link-action">Voir les guides<i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>

<a href="/suivi" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-map-marker-alt"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Votre colis est parti ?</h4>
    <p class="link-description">Suivez-le en temps réel, tous transporteurs.</p>
    <span class="link-action">Suivre maintenant <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>