{{!-- ========================================= --}}
{{!-- CATÉGORIE QUESTIONS (dynamique)          --}}
{{!-- ========================================= --}}

{{#if (eq questionCategory "tarifs-et-prix")}}
  <div class="col-md-4">
    <a href="/#formulaire-comparateur" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
      <div class="link-content">
        <h4 class="link-title">Comparer les Tarifs</h4>
        <p class="link-description">Prix réel pour votre envoi</p>
        <span class="link-action">Calculer <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/questions/transporteurs" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-truck"></i></div>
      <div class="link-content">
        <h4 class="link-title">Choisir Transporteur</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/questions/dimensions-et-poids" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-weight"></i></div>
      <div class="link-content">
        <h4 class="link-title">Optimiser Coût</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>

{{else if (eq questionCategory "suivi-de-colis")}}
  <div class="col-md-4">
    <a href="/suivi" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-map-marker-alt"></i></div>
      <div class="link-content">
        <h4 class="link-title">Suivre Mon Colis</h4>
        <p class="link-description">5 widgets universels</p>
        <span class="link-action">Suivre <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/questions/delais-de-livraison" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-clock"></i></div>
      <div class="link-content">
        <h4 class="link-title">Questions Délais</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/#formulaire-comparateur" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
      <div class="link-content">
        <h4 class="link-title">Nouveau Colis</h4>
        <span class="link-action">Comparer <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>

{{else if (eq questionCategory "transporteurs")}}
  <div class="col-md-4">
    <a href="/conseils" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-box-open"></i></div>
      <div class="link-content">
        <h4 class="link-title">Guides Emballage</h4>
        <p class="link-description">Protégez avant expédition</p>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/#formulaire-comparateur" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
      <div class="link-content">
        <h4 class="link-title">Comparer Transporteurs</h4>
        <span class="link-action">Comparer <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/questions/assurance-et-litiges" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-shield"></i></div>
      <div class="link-content">
        <h4 class="link-title">Assurance</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>

{{else if (eq questionCategory "delais-de-livraison")}}
  <div class="col-md-4">
    <a href="/questions/transporteurs" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-truck"></i></div>
      <div class="link-content">
        <h4 class="link-title">Transporteur Fiable</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/suivi" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-map-marker-alt"></i></div>
      <div class="link-content">
        <h4 class="link-title">Suivre Temps Réel</h4>
        <span class="link-action">Suivre <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/#formulaire-comparateur" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
      <div class="link-content">
        <h4 class="link-title">Comparer Délais</h4>
        <span class="link-action">Comparer <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>

{{else}}
  {{!-- Default pour autres catégories --}}
  <div class="col-md-4">
    <a href="/#formulaire-comparateur" class="link-card featured">
      <div class="link-icon"><i class="fa-solid fa-calculator"></i></div>
      <div class="link-content">
        <h4 class="link-title">Comparer</h4>
        <span class="link-action">Comparer <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/conseils" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-box-open"></i></div>
      <div class="link-content">
        <h4 class="link-title">Guides</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/mon-materiel" class="link-card">
      <div class="link-icon"><i class="fa-solid fa-toolbox"></i></div>
      <div class="link-content">
        <h4 class="link-title">Matériel</h4>
        <span class="link-action">Voir <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </a>
  </div>

{{/if}}