{{!-- ========================================= --}}
{{!-- CATALOGUE QUESTIONS                       --}}
{{!-- Contexte : Cherche info, va vers action  --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/questions/suivi-de-colis/ou-trouver-numero-suivi-colissimo-chronopost" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-barcode"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Trouver Numéro Suivi</h4>
      <p class="link-description">
        Question #1 : Colissimo, Chronopost, La Poste.
      </p>
      <span class="link-action">
        Lire <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions/delais-de-livraison/pourquoi-colis-retarde-causes-solutions" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-clock"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Colis Retardé</h4>
      <p class="link-description">
        Causes et solutions concrètes immédiates.
      </p>
      <span class="link-action">
        Comprendre <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions/transporteurs/meilleur-transporteur-colis-fragile" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-shield-halved"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Transporteur Fragile</h4>
      <p class="link-description">
        Quel transporteur pour objets de valeur ?
      </p>
      <span class="link-action">
        Découvrir <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>