{{!-- ========================================= --}}
{{!-- PAGE SUIVI                                --}}
{{!-- Contexte : Colis déjà envoyé, veut       --}}
{{!-- suivre ou a problème                      --}}
{{!-- ========================================= --}}

<div class="col-md-4">
  <a href="/questions/suivi-de-colis/ou-trouver-numero-suivi-colissimo-chronopost" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-barcode"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Trouver Numéro de Suivi</h4>
      <p class="link-description">
        Colissimo, Chronopost, La Poste : où trouver votre numéro ?
      </p>
      <span class="link-action">
        Voir le guide <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/questions/delais-de-livraison/pourquoi-colis-retarde-causes-solutions" class="link-card featured">
    <div class="link-icon">
      <i class="fa-solid fa-clock"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Colis Retardé ?</h4>
      <p class="link-description">
        Causes fréquentes et solutions concrètes pour débloquer votre envoi.
      </p>
      <span class="link-action">
        Comprendre <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>

<div class="col-md-4">
  <a href="/#formulaire-comparateur" class="link-card">
    <div class="link-icon">
      <i class="fa-solid fa-calculator"></i>
    </div>
    <div class="link-content">
      <h4 class="link-title">Nouveau Colis ?</h4>
      <p class="link-description">
        Comparez 15 transporteurs pour votre prochain envoi.
      </p>
      <span class="link-action">
        Comparer <i class="fa-solid fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>